.container-wrapper-content{
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.block-wrapper-content{
  position: relative;
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 70px;
  &:first-child{
    padding: 70px 0;
  }
}

.content-search-wrapper{
  width: 880px;
  margin-bottom: 60px;
}

.width-100{
  .block-search-input{
    width: 74%;
  }
}

.block-search-input{
  width: 100%;
  position: relative;
  margin-bottom: 55px;
  input{
    width: 100%;
    border: 1px solid #0a3c90;
    @include font-sans-400;
    font-size: 15px;
    color: black;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
  }
  .btn-search{
    position: absolute;
    width: 22px;
    top: 15px;
    right: 20px;
    .st0 {
      fill: #0a3c90;
    }
  }
  .map-site-search-filter_radio{
    @include font-sans-600;
    font-size: 15px;
    color: #141e2d;
    input[type=radio] + label:before{
      border: 1px solid #a9a9a9;
    }
  }
  .form-error{
    display: none;
  }
}

.container-search-results{
  width: 100%;
  padding-top: 45px;
}

.container-search-results{
  .block-search-results:last-of-type{
    border-bottom: none;
    padding-bottom: 15px;
  }
}

.block-search-results{
  border-bottom: 1px solid #dddddd;
  padding-bottom: 33px;
  margin-bottom: 20px;
  .block-search-results_title{
    @include font-sans-500;
    font-size: 17px;
    color: #0a3c90;
    margin-bottom: 10px;
    display: inline-block;
    transition: width .3s ease-in-out;
    &:after{
      display: block;
      content: "";
      height: 1px;
      width: 100%;
      background-color: #0a3c90;
      -webkit-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      margin-top: 2px;
    }
    &:hover:after{
      width: 0;
    }
    &:hover{
      color: #404854;
    }
  }
  .block-search-results_txt{
    @include font-sans-300;
    font-size: 15px;
    color: #404854;
    line-height: 1.7;
    padding-bottom: 10px;
    a{
      @include font-sans-500;
      font-size: 15px;
      color: #0a3c90;
      transition: width .3s ease-in-out;
      &:hover{
        color: #404854;
      }
    }
  }
  .block-search-results_data-bread-crumbs{
    font-size: 0;
    .block-search-results_data{
      @include display-inline-top;
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
      margin-right: 20px;
    }
    .block-search-results_bread-crumbs{
      @include display-inline-top;
      @include font-sans-300;
      font-size: 15px;
      color: #9e9d9d;
      a{
        @include font-sans-300;
        font-size: 15px;
        color: #9e9d9d;
        transition: color .5s;
        margin-right: 2px;
        &:hover{
          color: #0a3c90;
        }
        &:first-child:before{
          content: "";
        }
        &:before{
          content: " / ";
          @include font-sans-300;
          margin-right: 2px;
        }
      }
    }
  }
}

.block-search-results-nav{
  width: 100%;
  text-align: center;
  border-top: 1px solid #dddddd;
  padding-top: 45px;
  margin-bottom: 30px;
  li{
    @include display-inline-middle;
    padding-left: 7px;
    padding-right: 7px;
    &:before{
      display: none !important;
    }
  }
  .btn-prev{
    margin-right: 20px;
    a{
      background: url("../img/pagination/p_normal.svg");
      width: 36px;
      height: 36px;
      background-size: 36px 36px;
      display: block;
      transform: rotate(180deg);
      box-shadow: 0px -2px 7px -2px rgba(0, 0, 0, 0.75);
      border-radius: 50%;
      border: none;
      &:hover{
        background: url("../img/pagination/p_hover.svg");
      }
      &:active{
        background: url("../img/pagination/p_clicked.svg");
      }
    }
  }
  .number{
    a{
      @include font-sans-400;
      color: black;
      font-size: 15px;
      border: none;
      &:hover{
        color: #2c539b;
      }
    }
  }
  .number.active{
    a{
      color: #2c539b;
      @include font-sans-700;
    }
  }
  .interval{
    a{
      @include font-sans-600;
      color: black;
      font-size: 15px;
      border: none;
      &:hover{
        color: #2c539b;
      }
    }
  }
  .btn-next{
    margin-left: 20px;
    a{
      background: url("../img/pagination/p_normal.svg");
      width: 36px;
      height: 36px;
      background-size: 36px 36px;
      display: block;
      box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
      border-radius: 50%;
      border: none;
      &:hover{
        background: url("../img/pagination/p_hover.svg");
      }
      &:active{
        background: url("../img/pagination/p_clicked.svg");
      }
    }
  }
}

.container-search-results-no_txt{
  @include font-sans-300;
  font-size: 15px;
  color: #404854;
  line-height: 1.7;
}

.grey{
  background-color: #efefef;

}

.wrapper-look-further{
  width: 100%;
  position: relative;
  padding: 40px 0 40px 0;
  font-size: 0;
  .wrapper-look-further_txt{
    position: relative;
    @include font-sans-300;
    font-size: 22px;
    color: #141e2d;
    margin-top: 8px;
    @include display-inline-top;
    width: 26%;
  }
  .wrapper-look-further_link{
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 46px;
    color: black;
    text-transform: uppercase;
    @include display-inline-top;
    width: 60%;
    @include hover-time-all;
  }
}

.wrapper-interview-s-n{
  width: 100%;
  font-size: 0;
  margin-bottom: 60px;
  margin-top: 5px;
  display: inline-block;
  .wrapper-interview{
    @include display-inline-top;
    width: 50%;
    border-right: 1px solid #ececec;
    padding-bottom: 20px;
    .wrapper-interview_title{
      @include font-sans-300;
      font-size: 22px;
      color: #141e2d;
      margin-bottom: 25px;
    }
    .wrapper-interview_q{
      @include font-sans-500;
      font-size: 17px;
      color: #141e2d;
      margin-bottom: 15px;
      line-height: 1.6;
      text-rendering: optimizeLegibility;
    }
    .wrapper-interview_block-check{
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
      margin-bottom: 33px;
      label{
        cursor: pointer;
        padding: 7px 35px;
        position: relative;
        z-index: 10;
      }

      input[type=radio] + label{
        position: relative;
        display: block;
        z-index: 10;
      }

      input[type=radio] + label:before{
        content: '';
        border-radius: 50%;
        font-size: 0;
        line-height: 0;
        margin-right: 15px;
        position: absolute;
        padding: 0;
        top: 10px;
        left: 0;
        width: 16px;
        height: 16px;
        background-size: 47%;
        background-color: white;
        border: 1px solid #a9a9a9;
      }

      input[type=radio]:checked + label::after{
        content: '';
        border-radius: 50%;
        font-size: 0;
        line-height: 0;
        margin-right: 15px;
        position: absolute;
        padding: 0;
        top: 14px;
        left: 4px;
        width: 8px;
        height: 8px;
        background-size: 47%;
        background-color: #0a3c90;
      }
      input[type=radio]:checked + label + .block-bg-input{
        display: block;
      }
      .block-bg-input{
        position: absolute;
        top: 0;
        left: -10px;
        width: 100%;
        height: 100%;
        background-color: #edf1f6;
        display: none;
        z-index: 5;
        border-radius: 18px;
      }
    }
    .wrapper-interview_btn{
      margin-bottom: 30px;
      button{
        @include font-sans-700;
        font-size: 13px;
        color: #141e2d;
        text-transform: uppercase;
        padding: 15px 55px;
        background: white;
        border-radius: 3px;
        box-shadow: 0px 5px 18px 0px rgba(10, 60, 144, 0.2);
        @include hover-time-all;
        &:hover{
          background-color: #f7faff;
          box-shadow: 0px 3px 12px 0px rgba(10, 60, 144, 0.22);
        }
        &:active{
          background: white;
          color: #797c82;
          box-shadow: 0px 1px 5px 0px rgba(10, 60, 144, 0.35);
        }
      }
    }
    .wrapper-interview_number-people{
      @include font-sans-300;
      font-size: 13px;
      color: #141e2d;
      font-style: italic;
    }
  }
  .wrapper-s-n{
    @include display-inline-top;
    width: 50%;
    padding-left: 80px;
    .wrapper-interview_title{
      @include font-sans-300;
      font-size: 22px;
      color: #141e2d;
      margin-bottom: 45px;
    }
    .wrapper-s-n_tab{
      .tabs-s{
        margin-bottom: 25px;
        .tab-link.current-s{
          @include font-sans-600;
          color: #0a3c90;
        }
        .tab-link{
          @include font-sans-300;
          font-size: 13px;
          color: #9399a3;
          display: inline;
          cursor: pointer;
          text-transform: uppercase;
          margin-right: 25px;
        }
      }
      .tab-content-s{
        display: none;
        width: 375px;
        .wrapper-tab-content{
          width: 100%;
          font-size: 0;
          img{
            width: 100%;
          }
        }
      }
      .tab-content-s.current-s{
        display: inherit;
      }
    }
  }
}

.block-check-inline{
  display: inline-block;
  position: relative;
  &:hover label{
    color: #0a3c90;
  }
  .radio-interview{
    display: block;
    position: absolute;
    opacity: 0;
  }
}

.block-check{
  margin-bottom: 2px;
}

.wrapper-banners{
  font-size: 0;
  li{
    @include display-inline-top;
    width: 25%;
    padding-right: 10px;
    margin-bottom: 20px;
    a{
      display: block;
      position: relative;
      @include hover-time-all;
      &:before{
        @include hover-time-all;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 3px;
        opacity: 0;
      }
      &:hover:before{
        opacity: .3;
        background-color: #000;
      }
      img{
        width: 100%;
      }
    }
  }
}

.content-404-wrapper{
  position: relative;
  width: 100%;
  text-align: center;
  .content-404-wrapper_bg{
    position: absolute;
    width: 100%;
    img{
      width: 50%;
      margin: 0 auto;
    }
  }
  .content-404-wrapper_txt-big{
    span{
      @include font-sans-800;
      font-size: 300px;
      -webkit-background-clip: text !important;
      color: transparent;
      position: relative;
      z-index: 5;
      line-height: 1.2;
      background: rgb(0,14,37); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(0,14,37,1) 16%, rgba(47,0,44,1) 53%, rgba(115,0,54,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(0,14,37,1) 16%,rgba(47,0,44,1) 53%,rgba(115,0,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(0,14,37,1) 16%,rgba(47,0,44,1) 53%,rgba(115,0,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000e25', endColorstr='#730036',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  .content-404-wrapper_txt-small{
    @include font-sans-300;
    font-size: 22px;
    color: #404854;
    margin-bottom: 35px;
  }
  .content-404-wrapper_link{
    @include font-sans-600;
    font-size: 17px;
    color: #0a3c90;
    cursor: pointer;
    position: relative;
    z-index: 5;
    @include hover-time;
    &:hover{
      @include hover-color;
    }
  }
}

.wrapper-admission-campaign{
  width: 100%;
  background: rgb(224,242,255); /* Old browsers */
  background: -moz-linear-gradient(-60deg, rgba(224,242,255,1) 0%, rgba(255,247,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-60deg, rgba(224,242,255,1) 0%,rgba(255,247,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(224,242,255,1) 0%,rgba(255,247,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2ff', endColorstr='#fff7fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 65px 50px;
  font-size: 0;
  margin-top: 20px;
  .wrapper-admission-campaign_block.box-list{
    padding-right: 0;
    width: 49%;
  }
  .wrapper-admission-campaign_block{
    @include display-inline-top;
    width: 51%;
    padding-right: 15%;
    &:last-child{
      padding-right: 0;
    }
    .title{
      margin-bottom: 53px;
      font-size: 46px;
      font-family: Gilroy;
      text-transform: uppercase;
      font-weight: 800;
    }
    .txt{
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
      line-height: 1.7;
    }
  }
  .wrapper-admission-campaign_btn{
    font-size: 0;
    .wrapper-admission-campaign_btn-skype{
      @include display-inline-top;
      width: 185px;
      text-align: center;
      @include font-sans-700;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding: 15px 25px;
      background: #16adef;
      border-radius: 3px;
      box-shadow: 0px 5px 18px 0px rgba(10, 60, 144, 0.2);
      cursor: pointer;
      margin-right: 10px;
      @include hover-time-all;
      &:hover{
        box-shadow: 0px 3px 12px 0px rgba(10, 60, 144, 0.22);
      }
      &:active{
        color: #cde8fa;
        box-shadow: 0px 1px 5px 0px rgba(10, 60, 144, 0.35);
      }
    }
    .wrapper-admission-campaign_btn-t{
      width: 185px;
      @include display-inline-top;
      text-align: center;
      @include font-sans-700;
      font-size: 13px;
      color: #141e2d;
      text-transform: uppercase;
      padding: 15px 25px;
      background: white;
      border-radius: 3px;
      box-shadow: 0px 5px 18px 0px rgba(10, 60, 144, 0.2);
      cursor: pointer;
      &:hover{
        background-color: #f7faff;
        box-shadow: 0px 3px 12px 0px rgba(10, 60, 144, 0.22);
      }
      &:active{
        background: white;
        color: #797c82;
        box-shadow: 0px 1px 5px 0px rgba(10, 60, 144, 0.35);
      }
    }
  }
  .wrapper-admission-campaign_list{
    font-size: 0;
    .wrapper-admission-campaign_list-block{
      @include display-inline-top;
      min-height: 120px;
      border-top: 2px solid #bbc6d8;
      width: 43%;
      margin-right: 7%;
      @include hover-time-all;
      position: relative;
      &:before{
        content: '';
        width: 0;
        height: 2px;
        @include hover-time-all;
        position: absolute;
        top: -2px;
      }
      &:hover:before{
        width: 100%;
        background-color: #0b3b90;
        //border-color: #0b3b90;
      }
      &:hover .wrapper-admission-campaign_list-block_link{
        color: #0b3b90;
      }
      .wrapper-admission-campaign_list-block_link{
        @include font-sans-500;

        font-size: 15px;
        color: #141e2d;
        width: 100%;
        min-height: 119px;
        display: block;
        padding-top: 22px;
        @include hover-time-all;
        line-height: 1.55;
      }
    }
  }
}

.block-wrapper-sticky{
  position: absolute;
  width: 400px;
  top: 33vh;
  //right: -14%;
  z-index: 7;
  right: 35px;
  .wrapper-sticky-content{
    position: relative;
    width: 100%;
  }
}

.wrapper-sticky-content-news{
  width: 100%;
  border-radius: 5px;
  height: 265px;
  background-size: cover;
  display: block;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  transition: background 3s ease;
  .bg-img{
    width: 100%;
    position: absolute;
    z-index: 2;
    transition: all .6s ease;
    border-radius: 5px;
  }
  .wrapper-sticky-content-news_text{
    width: 100%;
    height: 100%;
    padding: 16px 17px;
    position: relative;
    z-index: 3;
  }
  &:hover .bg-img{
    transform: scale(1.05);
  }
  &:hover:before{
    transform: scale(1.05);
    opacity: 0.6;
  }
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 3;
    @include hover-time-all;
    opacity: 0.3;
    background-color: black;
  }
  &:hover .wrapper-sticky-content-news_txt{
    //@include hover-color;
  }
  .wrapper-sticky-content-news_section{
    @include font-sans-300;
    color: white;
    font-size: 16px;
    position: relative;
  }
  .wrapper-sticky-content-news_txt{
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 17px;
    @include font-sans-500;
    font-size: 15px;
    color: white;
    @include hover-time;
    line-height: 1.6;
  }
  .wrapper-sticky-content-news_date{
    position: absolute;
    left: 0;
    bottom: 16px;
    padding: 0 17px;
    @include font-sans-300;
    font-size: 15px;
    color: #c8c8c8;
  }
}

.block-wrapper-sticky-none{
  position: relative;
  z-index: 5;
  margin-bottom: 40px;
  .wrapper-sticky-content-news{
    &:hover:before{
      transform: scale(1);
    }
    &:before{
      z-index: 0;
    }
    padding: 16px 17px;
    @include display-inline-top;
    width: 31%;
    margin-right: 2%;
    height: 200px;

    &:nth-child(3n+3){
      width: 33%;
      margin-right: 0;
    }
    .wrapper-sticky-content-news_section{
      font-size: 12px;
    }
    .wrapper-sticky-content-news_txt{
      font-size: 11px;
    }
    .wrapper-sticky-content-news_date{
      font-size: 12px;
    }
  }
}

.wrapper-additional-services{
  overflow: hidden;
  padding-bottom: 75px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 85px;
  .wrapper-admission-campaign_text{
    font-size: 0;
    .wrapper-admission-campaign_text_title{
      @include display-inline-top;
      width: 51%;
      .title{
        font-size: 46px;
        font-family: Gilroy;
        text-transform: uppercase;
        font-weight: 800;
      }
    }
    .wrapper-admission-campaign_text_p{
      @include display-inline-top;
      width: 49%;
      @include font-sans-300;
      font-size: 22px;
      color: #141e2d;
      line-height: 1.45;
    }
  }
}

.wrapper-admission-campaign_slider{
  margin-top: 110px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  .swiper-slide{
    border: 1px solid #dde1e7;
    @include hover-time-all;
    position: relative;
    &:hover{
      box-shadow: 0px 5px 15px 0px rgba(179, 188, 202, 0.8);
    }
    img{
      width: 100%;
    }
  }
  .services-link-box{
    position: absolute;
    bottom: 30px;
    left: 26px;
    padding-right: 100px;
    .services-link-name{
      @include font-sans-600;
      font-size: 17px;
      color: #0a3c90;
      margin-bottom: 4px;
    }
    .services-link-dop{
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
    }
  }
  .swiper-button-next{
    background: url("../img/pagination/p_normal.svg");
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    display: block;
    box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    left: 46px;
    top: -65px;
    &:hover{
      background: url("../img/pagination/p_hover.svg");
    }
    &:active{
      background: url("../img/pagination/p_clicked.svg");
    }
  }
  .swiper-button-prev{
    background: url("../img/pagination/p_normal.svg");
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    display: block;
    transform: rotate(180deg);
    box-shadow: 0px -2px 7px -2px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    top: -65px;
    left: 3px;
    &:hover{
      background: url("../img/pagination/p_hover.svg");
    }
    &:active{
      background: url("../img/pagination/p_clicked.svg");
    }
  }
  .admission-campaign_slider-link{
    position: absolute;
    top: -80px;
    left: 51%;
    a{
      @include font-sans-500;
      font-size: 17px;
      color: #0a3c90;
      @include hover-time;
      &:hover{
        color: #141e2d;
      }
    }
  }
}

.wrapper-about-university{
  width: 100%;
  position: relative;
  font-size: 0;
  margin-bottom: 60px;
  .title{
    margin-bottom: 60px;
    font-size: 46px;
    font-family: Gilroy;
    text-transform: uppercase;
    font-weight: 800;
  }
  .wrapper-about-university_text-s{
    @include font-sans-300;
    font-size: 15px;
    color: #404854;
    padding-left: 70px;
    padding-right: 135px;
    line-height: 1.6;
    margin-bottom: 25px;
  }
  .link-about-university{
    @include font-sans-500;
    font-size: 17px;
    padding-left: 70px;
    color: #0a3c90;
    @include hover-time;
    &:hover{
      color: #141e2d;
    }
  }
}

.wrapper-about-university_avatar-text{
  @include display-inline-top;
  width: 28%;
  text-align: center;
  padding: 0 60px;
  .wrapper-about-university_avatar-img{
    margin: 0 auto;
    width: 100px;
    margin-bottom: 20px;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }
  .wrapper-about-university-name{
    @include font-sans-500;
    color: #141e2d;
    font-size: 18px;
    margin-bottom: 13px;
  }
  .wrapper-about-university-position{
    @include font-sans-300;
    font-size: 15px;
    color: #404854;
    line-height: 1.6;
  }
}

.wrapper-about-university_text{
  @include display-inline-top;
  width: 72%;
  margin-bottom: 30px;
  .block-direct-speech{
    padding: 15px 40px 25px 70px;
    font-style: italic;
  }
}

.wrapper-about-university_info{
  font-size: 0;
  margin-top: 30px;
  text-align: center;
}

.wrapper-about-university_info-list{
  width: 200px;
  text-align: left;
  @include display-inline-top;
  .wrapper-about-university_info-list_number{
    color: #0a3c90;
    font-family: 'BigCityGrotesquePro';
    font-size: 60px;
  }
  .wrapper-about-university_info-list_txt{
    font-size: 16px;
    color: #404854;
    @include font-sans-300;
  }
}

.small-p{
  @include font-sans-300;
  font-size: 15px;
  color: #404854;
  line-height: 1.7;
}

.wrapper_row-services-list-link{
  font-size: 0;
}

.services-link{
  @include display-inline-top;
  width: 48%;
  height: 215px;
  background-size: cover;
  margin-bottom: 2%;
  border: 1px solid #dde1e7;
  position: relative;
  @include hover-time-all;
  &:hover{
    box-shadow: 0px 5px 30px 0px rgba(179, 188, 202, 0.8);
  }
  &:nth-child(odd){
    margin-right: 1%;
  }
  &:nth-child(even){
    margin-left: 1%;
  }
  .services-link-box{
    position: absolute;
    bottom: 30px;
    left: 26px;
    .services-link-name{
      @include font-sans-600;
      font-size: 17px;
      color: #0a3c90;
      margin-bottom: 4px;
    }
    .services-link-dop{
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
    }
  }
}

.wrapper-about-university_info.block-3{
  text-align: left;
  margin-bottom: 80px;
  .wrapper-about-university_info-list{
    width: 33%;
    padding-right: 12%;
  }
}

.wrapper_row-services{
  position: relative;
  //overflow: hidden;
  width: 100%;
  .three-title{
    margin-bottom: 55px;
  }
}

.wrapper_row-services img{
  width: 100%;
}

.content-row-wrapper_text-slider.slider-services{
  margin-bottom: 110px;
  overflow: visible;
  .swiper-slide.swiper-slide-active:before{
    content: "";
    background-color: inherit;
  }
  .swiper-slide.swiper-slide-next:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;
  }
}

.wrapper-link-border{
  width: 100%;
  position: relative;
  .link-border{
    width: 100%;
    display: block;
    @include font-sans-500;
    font-size: 17px;
    color: #404854;
    border: 1px solid #c7d2e2;
    padding: 17px 55px 19px 20px;
    cursor: pointer;
    position: relative;
    @include hover-time-all;
    &:hover{
      color: #0b3b90;
      border: 1px solid #0b3b90;
    }
    .icon-arrow{
      position: absolute;
      width: 7px;
      height: 12px;
      display: inline-block;
      top: 16px;
      right: 23px;
      .st0{
        fill: #404854;
      }
    }
    .icon-correctly{
      position: absolute;
      width: 16px;
      top: 16px;
      right: 23px;
    }
  }
}

.wrapper-link-border + .block-two-col{
  margin-top: 100px;
}

.block-wrapper-100{
  width: 100%;
  background-color: #f8f8f8;
}

.container-wrapper-title{
  width: 100%;
  position: relative;
}
.bg-overflow{
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: -moz-linear-gradient(top, rgba(0,14,37,0.42) 6%, rgba(0,14,37,0.54) 16%, rgba(47,0,44,0.66) 80%, rgba(115,0,54,0.37) 100%);
    background: -webkit-linear-gradient(top, rgba(0,14,37,0.420) 6%,rgba(0,14,37,0.54) 16%,rgba(47,0,44,0.66) 80%,rgba(115,0,54,0.37) 100%);
    background: linear-gradient(to bottom, rgba(0,14,37,0.8) 6%,rgba(0,14,37,0.8) 16%,rgba(47,0,44,0.66) 80%,rgba(115,0,54,0.37) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000e25', endColorstr='#730036',GradientType=0 );
  }
}

.block-wrapper-title_slicky{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.swiper-wrapper-news.slick-dotted.slick-slider{
  margin-bottom: 0;
}

.swiper-wrapper-news{
  margin-top: 35px;
  position: relative;
  .slick-dots{
    top: 0;
    width: auto;
  }
  .slick-dots li.slick-active button:before{
    opacity: 1;
    color: white;
  }
  .slick-dots li button{
    width: 14px;
    height: 14px;
  }
  .slick-dots li button:before{
    font-family: 'slick';
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    content: '•';
    text-align: center;
    opacity: 0.5;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
  .slick-dots li button:hover:before{
    @include hover-color;
    opacity: 1;
  }
  .slick-dots li{
    display: block;
    margin-bottom: 10px;
  }
  .slick-list{
    padding-left: 80px;
    //z-index: 5;
  }
  .slick-slide{
    height: 70px;
    width: 100% !important;
  }
  .wrapper-swiper:hover .swiper-container-header-news_txt{
    color: #b6b0bc;
  }
}

.hidden-lms{
  display: none;
}

.wrapper-search-results{
  .map-site-content_list{
    ul{
      border-top: 2px solid #c6d1e2;
      li{
        a{
          color: #0a3c90;
          &:hover{
            color: #141e2d;
          }
        }
      }
      li:first-child{
        a{
          color: #141e2d;
          &:hover{
            color: #0a3c90;
          }
        }
      }
    }
  }
  .wrapper-accordion-mobile-menu {
    margin-top: 40px;
    li{
      border-top: 1px solid #141e2d;
      padding: 0;
      border-bottom: none;
      p{
        color: #141e2d;
        padding: 10px 15px 10px 0;
        .icon-arrow{
          top: 10px;
          .st0{
            fill: #141e2d;
          }
        }
      }
    }
  }
}

.box-big-link:hover{
  .wrapper-look-further_link{
    color: #0a3c90;
  }
}

.content-search-wrapper.width-100{
  margin-bottom: 0;
}

.container-scroll-top{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 35px;
  display: none;
  z-index: 5;
  &:hover .box-shadow-scroll{
    background-color: #b1b1b1;
    opacity: 0.3;
  }
  .box-shadow-scroll{
    position: absolute;
    width: 35px;
    height: 100%;
    transition: all .4s ease-in-out;
    cursor: pointer;
  }
  .btn-scroll-top{
    position: absolute;
    bottom: 20px;
    width: 25px;
    left: 4px;
    cursor: pointer;
    z-index: 100;
    img{
      width: 100%;
    }
  }
}

.form-error{
  @include font-sans-300;
  color: #cf535a;
  font-size: 13px;
  padding-top: 5px;
  display: block;
}

.has-error{
  .input{
    border-color: #cf535a !important;
  }
  input{
    border-color: #cf535a !important;
  }
  textarea{
    border-color: #cf535a !important;
  }
}

.d-none{
  display: none;
}

.block-second-header-sm{
  display: none;
}

.wrapper-second-header_link{
  font-size: 0;
}

.wrapper-link-social-network.active{
  background: #061b3e;
}

.wrapper-link-social-network.active{
  .dropdown{
    opacity: 1;
    pointer-events: auto;
  }
}

.wrapper-link-social-network.active:after{
  border-width: 0 3px 5px;
}

.wrapper-link-social-network{
  width: 100%;
  padding: 18px 25px;
  position: relative;
  &:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -1px;
    border-width: 5px 3px 0;
    border-style: solid;
    border-color: #53698f transparent;
  }
  img{
    width: 55%;
    margin: 0 auto;
  }
  .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    background: #061b3e;
    li{
      display: block;
      a{
        display: inline-block;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        svg {
          width: 30px;
          height: 30px;
        }
        #svg_2, .cls-1{
          fill: #53698f;
        }
      }
    }
  }
}

.revealator-zoomin.no-anim{
  transform: scale(1) !important;
  opacity: 1 !important;
}

.wrapper-overlow{
  width: 200%;
  overflow: hidden;
  position: relative;
  .content-row-wrapper_text-slider{
    width: 50%;
  }
}

.snipet-video{
  @include display-inline-top;
  width: 100%;
  padding-bottom: 50%;
  position: relative;
  &:hover {
    .block-video_preview{
      opacity: 0;
    }
  }
  &:not(.played){
    .block-video_preview{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      text-align: center;
      font-size: 0;
      cursor: pointer;
      -webkit-transition: opacity .3s .2s;
      transition: opacity .3s .2s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      filter: grayscale(50%);
      img{
        width: 100%;
        position: relative;
      }
      &:after{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 75px;
        height: 75px;
        background-position: center left 55%;
        background-repeat: no-repeat;
        background-image: url("../img/play-png.png");
        background-size: 1.125rem;
        background-color: hsla(0,0%,100%,.7);
        border-radius: 50%;
      }
      &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
      }
    }
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .ytp-large-play-button{
    width: 150px;
    height: 150px;
    background-image: url("../img/play-youtybe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: -100%;
  }
  img{
    width: 100%;
  }
}

.content-row-wrapper_row-txt{
  .wrapper_row-title + .snipet-video{
    margin-top: 40px;
  }
  .snipet-video{
    margin-bottom: 55px;
  }
  p{
    a{
      color: #0a3c90;;
      display: inline;
      text-decoration: underline;
      &:hover{
        color: black;
      }
    }
  }
  b{
    font-weight: 600;
  }
  i{
    font-style: italic;
  }
  sub{
    vertical-align: sub;
  }
  sup{
    vertical-align: super;
  }
  p + ul{
    padding-top: 20px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    li{
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
      line-height: 1.5;
      margin-bottom: 25px;
      position: relative;
      padding-left: 35px;
      &:before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #0a3c90;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 0;
      }
      a{
        color: #0054e0;
        display: inline;
        border-bottom: 2px dashed #acb5d0;
      }
    }
  }
  h1{
    font-family: 'Gilroy';
    font-size: 58px;
    text-transform: none;
    margin-bottom: 40px;
    font-weight: 800;
  }
  h2{
    font-family: 'Gilroy';
    font-size: 46px;
    text-transform: none;
    margin-bottom: 40px;
    font-weight: 800;
  }

  p + h2{
    padding-top: 20px;
  }

  p + h3{
    padding-top: 20px;
  }

  h3{
    @include font-sans-800;
    font-size: 36px;
    text-transform: none;
    margin-bottom: 40px;
  }

  p + h4{
    padding-top: 20px;
  }

  h4{
    @include font-sans-400;
    font-size: 22px;
    margin-bottom: 40px;
  }

  p + h5{
    padding-top: 20px;
  }

  h5{
    @include font-sans-300;
    font-size: 22px;
  }
  ol{
    list-style: decimal;
    padding: 0;
    margin-bottom: 50px;
    padding-left: 18px;
    li{
      @include font-sans-300;
      font-size: 15px;
      color: #404854;
      line-height: 1.5;
      margin-bottom: 25px;
      position: relative;
      padding-left: 23px;
      a{
        color: #0054e0;
        display: inline;
        border-bottom: 2px dashed #acb5d0;
      }
    }
  }

  P + .wrapper-overlow{
    padding-top: 20px;
  }

  .wrapper-overlow + p {
    margin-top: 40px;
  }

  p + .block-direct-speech{
    margin-top: 45px;
  }

  .block-direct-speech + p, .block-direct-speech + img, .block-direct-speech + h1, .block-direct-speech + h2,
  .block-direct-speech + h3, .block-direct-speech + h4, .block-direct-speech + h5, .block-direct-speech + ul, .block-direct-speech + ol{
    margin-top: 30px;
  }

  .float-img-left{
    float: left;
    width: 270px;
    margin-right: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .float-img-right{
    float: right;
    width: 270px;
    margin-left: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .float-img-center{
    width: auto;
    margin: 0 auto 50px auto;
  }

  p + .float-img-center{
    padding-top: 20px;
  }

  table{
    border-top: 1px solid #e3e8f0;
    margin-bottom: 50px;
    tr{
      &:last-child{
        border-bottom: 0;
      }
      td{
        @include font-sans-600;
        //font-size: 14px;
        font-size: 15px;
        color: #404854;
        //padding: 20px 35px 20px 0;
        border-bottom: 1px solid #e3e8f0;
        padding: 13px 15px;
        padding-right: 7px;
        a{
          color: #0a3c90;
        }
      }
    }
    th{
       @include font-sans-500;
       font-size: 14px;
       color: black;
       padding: 20px 35px 20px 0;
       text-align: left;
       border-bottom: 2px solid #0a3c90;
     }
  }
}

.divFixHeaderCol {
  position: relative;
  border: 0;
  overflow: hidden;
}

.divFixHeaderCol table {
  border-collapse: collapse;
}

.divFixHeaderCol td {
  padding: 2px;
  border: 1px solid #d0d0d0;
  border-left: 0;
  background: #fff;
  min-height: 14px;
}

.cntr {
  text-align: center;
}

.FixedTables{
  width: 100%
}

.fixRegion{
  width: initial;
  background: white;
  td.title-body{
    @include font-sans-600;
    font-size: 15px;
    color: #0a3c90;
    padding: 30px 15px 15px;
  }
  td{
    @include font-sans-600;
    font-size: 15px;
    color: #404854;
    padding: 13px 15px;
    vertical-align: middle;
    width: 80px;
    text-align: left;
    padding-right: 7px;
    height: 70px;
    border: 1px solid #e3e8f0;
  }
  td.header-td{
    @include font-sans-300;
    font-size: 13px;
    color: #404854;
    width: 80px;
    text-align: left;
    padding: 20px 7px 20px 15px;
    border: 2px solid #b4c2d8;
  }
  td.header-td[rowspan]{
    vertical-align: middle;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .content-404-wrapper {
    .content-404-wrapper_txt-big {
      span{
        color: #000e25;
        background: none;
        filter: none;
      }
    }
  }
}

.ie10{
  .wrapper-admission-campaign_slider-swiper{
    .swiper-slide{
      float: left;
    }
  }
}

.ie9{
  .container-wrapper-header{
    filter: none !important;
  }
  .content-404-wrapper {
    .content-404-wrapper_txt-big {
      span{
        color: #000e25;
        background: none;
        filter: none;
      }
    }
  }
  .content-row-wrapper{
    font-size: 0;
  }
  .content-row-wrapper_row-menu{
    @include display-inline-top;
  }
  .content-row-wrapper_row-txt{
    @include display-inline-top;
  }
  .swiper-wrapper{
    display: block;
  }
  .swiper-slide{
    @include display-inline-top;
    margin-bottom: 30px;
  }
  .box-slider.content-row-wrapper_text {
    .content-row-wrapper_text-slider {
      .swiper-slide{
        margin-bottom: 30px;
      }
    }
  }
  .content-row-wrapper_text-slider {
    .swiper-button-next, .swiper-button-prev{
      display: none;
    }
  }
  .wrapper-slider-about.revealator-zoomin{
    opacity: 1;
    transform: scale(1);
    .about-slider.content-row-wrapper_text-slider {
      .swiper-slide {
        .swiper-slide_title{
          opacity: 1;
        }
      }
    }
  }
  .content-row-wrapper_text-slider.revealator-zoomin{
    opacity: 1;
    transform: scale(1)
  }
  .block-ie{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:before{
      content: '';
      width: 100%;
      height: 100.3%;
      background-color: rgba(8,11,38,.8);
      position: absolute;
    }
  }
  .block-wrapper-tab, .block-swiper-container-header-news{
    opacity: 1;
    transform: scale(1)
  }
  .wrapper-additional-services{
    opacity: 1;
    transform: scale(1);
    .swiper-button-prev, .swiper-button-next{
      display: none;
    }
  }
  .wrapper-admission-campaign_slider {
    .swiper-slide{
      width: 47%;
      margin-right: 3%;
    }
  }
  .map-site-content{
    overflow: auto;
  }
  .map-site-content_list-item{
    position: relative !important;
    @include display-inline-top;
  }
  .map-site-content_list.page-o{
    height: auto !important;
    text-align: left !important;
  }
}


