footer.footer
    .footer-wrapper
        .footer-wrapper-partner
            .footer-wrapper-partner_logo
                .footer-wrapper-content_feedback
                    .footer-wrapper-content_feedback-adress Московская 17, Минск, 220007, Республика Беларусь <a href="mailto:post@pac.by">post@pac.by</a>
                    a(href='javascript:;' data-fancybox data-src='#hidden-content-f').footer-wrapper-content_feedback-block Обратная связь
            .footer-wrapper-partner_list
                ul
                    li
                        a(href="#")
                            img(src='img/f-logo-1.png' alt='')
                    li
                        a(href="#")
                            img(src='img/f-logo-2.png' alt='')
                    li
                        a(href="#")
                            img(src='img/f-logo-3.png' alt='')
                    li
                        a(href="#")
                            img(src='img/f-logo-4.png' alt='')
                    li
                        a(href="#")
                            img(src='img/f-logo-5.png' alt='')
                    li
                        a(href="#")
                            img(src='img/f-logo-6.png' alt='')
                    li
                        a(href="#")
                            img(src='img/f-logo-7.png' alt='')
                    li.hidden-sm.visible-xs
                        a(href="#")
                            img(src='img/f-logo-8.png' alt='')
                    li.hidden-sm.visible-xs
                        a(href="#")
                            img(src='img/f-logo-9.png' alt='')
                    li.hidden-sm.visible-xs
                        a(href="#")
                            img(src='img/f-logo-10.png' alt='')
        .footer-wrapper-content
            .footer-wrapper-content_feedback.hidden-xs
                .footer-wrapper-content_feedback-adress Московская 17, Минск, 220007, Республика Беларусь <a href="mailto:post@pac.by">post@pac.by</a>
                a(href='javascript:;' data-fancybox data-src='#hidden-content-f').footer-wrapper-content_feedback-block Обратная связь
            .footer-wrapper-content_menu-input-dispatch
                .footer-wrapper-content_input
                    form.js-form
                        input.input(type='text' placeholder='Поиск по академии' data-validation="required")
                        button.btn-search
                            <svg width="20.6" height="20.6" xmlns="http://www.w3.org/2000/svg">
                            <style type="text/css">.st0{fill:#000000;}</style>
                            <g>
                            <path id="svg_1" d="m20.5,19.1l-5.3,-5.3c1.1,-1.5 1.8,-3.3 1.8,-5.3c0,-4.7 -3.8,-8.5 -8.5,-8.5c-4.7,0 -8.5,3.8 -8.5,8.5c0,4.7 3.8,8.5 8.5,8.5c2,0 3.8,-0.7 5.3,-1.8l5.3,5.3c0.1,0.1 0.3,0.1 0.4,0l1.1,-1.1c0,-0.1 0,-0.2 -0.1,-0.3zm-16.6,-5.9c-1.2,-1.2 -1.9,-2.9 -1.9,-4.7c0,-1.8 0.7,-3.4 1.9,-4.6c1.2,-1.2 2.8,-1.9 4.6,-1.9c1.8,0 3.4,0.7 4.6,1.9c1.2,1.2 1.9,2.8 1.9,4.6c0,1.8 -0.7,3.4 -1.9,4.6c-1.2,1.2 -2.8,1.9 -4.6,1.9c-1.8,0.1 -3.4,-0.7 -4.6,-1.8z" class="st0"/>
                            </g>
                            </svg>
                .footer-wrapper-content_dispatch
                    .footer-wrapper-content_dispatch-menu-1
                        ul
                            li
                                a(href='#') Поступающим
                            li
                                a(href='#') Обучающимся
                            li
                                a(href='#') Академия
                            li
                                a(href='#') Услуги
                            li
                                a(href='#') Пресс-центр
                            li
                                a(href='#') Контакты
                    .footer-wrapper-content_dispatch-menu-2
                        ul
                            li
                                a(href='#') Издания Академии управления
                            li
                                a(href='#') Одно окно
                            li
                                a(href='#') Электронные обращения граждан
                            li
                                a(href='#') Библиотека
                            li
                                a(href='#') Корпоративный портал
                            li
                                a(href='#') Доска почета
                            li
                                a(href='#') Международная деятельность
                            li
                                a(href='#') Доска объявлений
                            li
                                a(href='#') Ассоциации выпускников
                            li
                                a(href='javascript:;').js-search-open-map-site Карта сайта
                    .footer-wrapper-content_written
                        .footer-wrapper-content_written-txt Подпишитесь на новостную рассылку и будьте в курсе всех важных событий Академии:
                        form.js-form
                            .footer-wrapper-content_written-input-link
                                input.input(placeholder='Ваш e-mail' data-validation="email" type="email" data-validation-error-msg="Неверно веден e-mail")
                                button
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                    <style type="text/css">.st0{fill:#929498;}</style>
                                    <g>
                                    <path id="svg_1" d="m23.6,9.7l-23.3,-9.7c-0.2,-0.1 -0.4,0.1 -0.3,0.3l5.6,9.5c0,0.1 0,0.1 0,0.2l-5.6,9.4c-0.1,0.2 0.1,0.4 0.2,0.3l23.4,-9.7c0.2,0 0.2,-0.3 0,-0.3zm-16.5,0.9l10.2,0c0.2,0 0.3,0.3 0.1,0.4l-13.5,5.6c-0.2,0.1 -0.3,-0.1 -0.2,-0.3l3.3,-5.6c0,-0.1 0,-0.1 0.1,-0.1zm-0.2,-1.6l-3.3,-5.6c-0.1,-0.2 0.1,-0.3 0.3,-0.3l13.6,5.6c0.2,0.1 0.1,0.4 -0.1,0.4l-10.3,0c-0.1,0 -0.1,0 -0.2,-0.1z" class="st0"/>
                                    </g>
                                    </svg>
                .footer-wrapper-content_lang
                    .footer-wrapper-content_lang-txt Язык сайта:
                    .footer-wrapper-content_lang-list
                        .active RU
                        span /
                        a(href='#') eng
                        span /
                        a(href='#') by
                .footer-wrapper-content_question
                    .footer-wrapper-content_question-icon
                        <svg xmlns="http://www.w3.org/2000/svg">
                        <style type="text/css">.st0{fill:#252a30;}</style>
                        <g>
                        <g id="svg_1">
                        <g id="svg_2">
                        <path id="svg_3" d="m97.3,81.5l0,0c-0.1,0 -2.8,-1.3 -5.8,-3.8c-1.5,-1.3 -3,-2.9 -4.3,-4.8c-1.1,-1.6 -1.9,-3.4 -2.5,-5.5c0,0 0.1,-0.1 0.1,-0.1c4.6,-3.5 8.4,-7.8 11.1,-12.5c2.6,-4.8 4.1,-10.1 4.1,-15.6c0,-5.5 -1.4,-10.7 -4,-15.4c-3.9,-7.1 -10.3,-13 -18.2,-17.2c-8,-4.2 -17.5,-6.6 -27.8,-6.6c-13.7,0 -26.1,4.3 -35.2,11.3c-4.5,3.5 -8.2,7.7 -10.8,12.4c-2.6,4.7 -4,9.9 -4,15.4c0,5.5 1.4,10.7 4,15.4c3.9,7.1 10.3,13 18.2,17.2c8,4.2 17.5,6.6 27.8,6.6c2.4,0 5.7,-0.4 8.4,-0.7c1.6,-0.2 3,-0.4 3.8,-0.5c1,0.9 2.9,2.5 5.9,4.1c4.4,2.4 11.1,4.7 20.1,4.7c2.7,0 5.5,-0.2 8.6,-0.7l6.8,-1l-6.3,-2.7zm-27.3,-3.8c-2,-1.1 -3.4,-2.1 -4.3,-2.9c-0.5,-0.4 -0.8,-0.7 -1,-0.9c-0.1,-0.1 -0.2,-0.2 -0.2,-0.2l0,0l0,0l-0.7,-0.8l-1.2,0.1c0,0 -0.1,0 -0.4,0.1c-0.8,0.1 -3,0.5 -5.4,0.7c-2.4,0.3 -5.1,0.5 -6.9,0.5c-12.8,0 -24.4,-4 -32.7,-10.5c-4.1,-3.2 -7.5,-7 -9.8,-11.2c-2.2,-4.1 -3.4,-8.7 -3.4,-13.4c0,-4.8 1.2,-9.3 3.5,-13.5c3.4,-6.3 9.2,-11.7 16.6,-15.5c7.3,-3.9 16.3,-6.2 25.9,-6.2c12.8,0 24.4,4 32.7,10.5c4.1,3.2 7.5,7 9.8,11.2c2.3,4.2 3.5,8.7 3.5,13.5c0,4.8 -1.3,9.4 -3.6,13.7c-2.3,4.2 -5.7,8.1 -10,11.3c-0.2,0.1 -0.5,0.3 -0.7,0.5c-0.2,0.2 -0.4,0.3 -0.4,0.3l-1.1,0.8l0.3,1.3c0.7,3.2 2,5.9 3.5,8.2c2,2.9 4.3,5.1 6.4,6.7c-0.7,0 -1.5,0.1 -2.2,0.1c-8.3,-0.2 -14.3,-2.3 -18.2,-4.4z" class="st0"/>
                        <path id="svg_4" d="m51.6,17.4c-2.6,0 -4.9,0.6 -6.7,2c-1.8,1.3 -3.3,3.4 -4.4,6.1c-0.2,0.5 0,1 0.4,1.3l3.1,1.7c0.3,0.1 0.6,0.2 0.8,0.1s0.5,-0.3 0.6,-0.6c0.8,-1.9 1.7,-3.3 2.7,-4.2c1,-0.9 2.1,-1.3 3.4,-1.3c1.6,0 2.8,0.5 3.7,1.4c0.9,1 1.4,2.1 1.4,3.7c0,1.1 -0.3,2.2 -0.8,3.3c-0.5,1 -1.7,2.6 -3.6,4.6l0,0c-0.1,0.1 -0.3,0.3 -0.4,0.5l0,0c-2.3,2.6 -3.8,4.8 -4.4,6.9l0,0c-0.2,0.7 -0.3,1.5 -0.4,2.4c-0.1,0.9 -0.1,1.9 -0.1,3l0,1c0,0.3 0.1,0.5 0.3,0.7s0.4,0.3 0.7,0.3l3.3,0c0.3,0 0.6,-0.1 0.8,-0.4c0.2,-0.2 0.3,-0.5 0.2,-0.8c0,-0.2 -0.1,-0.4 -0.1,-0.6c0,-0.2 0,-0.5 0,-1c0,-1.6 0.3,-3 0.9,-4.2c0.6,-1.2 1.9,-2.9 3.9,-4.9c2.3,-2.3 3.8,-4.1 4.5,-5.7c0.7,-1.5 1.1,-3.3 1.1,-5.2c0,-2.9 -1,-5.4 -3.1,-7.3c-2,-1.9 -4.7,-2.8 -7.8,-2.8z" class="st0"/>
                        <circle id="svg_5" r="3.5" cy="58.7" cx="50" class="st0"/>
                        </g>
                        </g>
                        </g>
                        </svg>
                    a.footer-wrapper-content_question(href='questions.html') <span>Задать вопрос</span> <br> <span>ректору</span>
        .footer-wrapper-social-network
            ul
                li
                    a(href='#')
                        img.hidden-xs(src='img/icon-f.png' alt='')
                        img.hidden-lms(src='img/logo-face-mobil.png' alt='')
                li
                    a(href='#')
                        img.hidden-xs(src='img/icon-vk.png' alt='')
                        img.hidden-lms(src='img/logo-vk-mobil.png' alt='')
                li
                    a(href='#')
                        img.hidden-xs(src='img/icon-y.png' alt='')
                        img.hidden-lms(src='img/logo-youtube-mobil.png' alt='')
                li
                    a(href='#')
                        img.hidden-xs(src='img/icon-in.png' alt='')
                        img.hidden-lms(src='img/logo-in-mobil.png' alt='')
                li
                    a(href='#')
                        img.hidden-xs(src='img/icon-inst.png' alt='')
                        img.hidden-lms(src='img/logo-inst-mobil.png' alt='')
        .footer-wrapper-bottom
            .footer-wrapper-bottom_trademark © 1991-2017 Академия управления <br> при Президенте Республики Беларусь
            .footer-wrapper-bottom_search-q.hidden-xs
                .footer-wrapper-bottom_search-q_key
                    span Ctrl
                    span Enter
                .footer-wrapper-bottom_search-q_txt Нашли ошибку на сайте? Сообщите нам! Выделите ошибочный фрагмент текста  и нажмите Ctrl+Enter
                    a(href='mailto:post@pac.by') Или напишите на почту
            .footer-wrapper-bottom_dev
                a(href='#')
                    .icon
                        <svg xmlns="http://www.w3.org/2000/svg">
                        <style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#fbe635;}</style>
                        <g>
                        <g id="svg_1">
                        <g stroke="null" id="svg_2">
                        <path stroke="null" id="svg_3" d="m36.00767,36.10282l0,-32.7438c-0.13023,-0.55381 0.19534,-4.43045 -3.12544,-1.8691c-3.25567,2.28445 -12.11108,8.584 -12.11108,8.584s-2.27897,2.28445 -5.53463,0c-4.29748,-2.97671 -12.30642,-8.584 -12.30642,-8.584s-2.79987,-2.4229 -2.9301,1.66142c0,7.75329 0,33.22838 0,33.22838s0,2.83826 2.40919,1.93832c1.10693,-0.76148 2.34408,-1.66142 3.38589,-2.35368c1.69295,-1.52297 1.69295,-3.80742 1.69295,-3.80742s0,-2.56135 0,-3.73819c0,-4.15355 2.60453,-1.24606 2.60453,-1.24606s3.51612,2.49213 5.07884,3.66897c3.12544,1.73064 5.20907,0.13845 5.20907,0.13845s4.49282,-3.18439 6.18577,-4.43045c2.08363,-1.73064 1.9534,1.79987 1.9534,1.79987l0,2.63058c0,0 -0.26045,2.69981 1.69295,4.49968c0.9767,0.83071 2.14874,1.79987 3.19055,2.69981c3.12544,1.45374 2.60453,-2.07677 2.60453,-2.07677zm-9.18098,-17.4449c0,0 -6.8369,4.84581 -6.8369,4.84581s-1.9534,1.31529 -4.23237,0c-2.08363,-1.52297 -7.03224,-4.98426 -7.03224,-4.98426s-1.30227,-0.41535 -1.30227,-2.49213c0,-0.55381 0,-1.79987 0,-1.79987s-0.13023,-2.69981 1.82317,-1.03839c1.75806,1.24606 4.49282,3.18439 6.44622,4.5689c2.01851,1.66142 4.36259,0 4.36259,0s4.42771,-3.18439 7.22758,-5.19193c1.23715,-0.96916 1.04181,0.76148 1.04181,0.76148l0,2.21523c0,0.13845 0.26045,1.79987 -1.49761,3.11516z" class="st0"/>
                        </g>
                        </g>
                        </g>
                        </svg>
                    .name-comp FLEX.MEDIA
                    .footer-wrapper-bottom_dev-txt Дизайн и разработка сайта:




