.wrapper-map-site.hidden.js-map-site.pad-0
    .wrapper-map-site-content
        .map-site-content
            .wrapp_close.js-search-close-map
                <svg xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">.st0{fill:#ffffff;}</style>
                <g>
                <path id="svg_1" d="m11.5,10.1l8.6,-8.6c0.1,-0.1 0.1,-0.3 0,-0.4l-1.1,-1c-0.1,-0.1 -0.3,-0.1 -0.4,0l-8.6,8.6l-8.5,-8.6c-0.1,-0.1 -0.3,-0.1 -0.4,0l-1,1c-0.1,0.1 -0.1,0.3 0,0.4l8.6,8.6l-8.6,8.6c-0.1,0.1 -0.1,0.2 0,0.3l1.1,1.1c0.1,0.1 0.3,0.1 0.4,0l8.6,-8.6l8.6,8.6c0.1,0.1 0.3,0.1 0.4,0l1.1,-1.1c0.1,-0.1 0.1,-0.3 0,-0.4l-8.8,-8.5z" class="st0"/>
                </g>
                </svg>
            .map-site-content_content    
                .map-site-content_logo.hidden-xs
                    img(src='img/logo.png' alt='')
                form.map-site-content_search.js-form.hidden-xs
                    .block-search-input    
                        input(type='text' placeholder='Поиск по сайту академии' data-validation="required")
                        button.btn-search
                            <svg width="20.6" height="20.6" xmlns="http://www.w3.org/2000/svg">
                            <style type="text/css">.st0{fill:#000000;}</style>
                            <g>
                            <path id="svg_1" d="m20.5,19.1l-5.3,-5.3c1.1,-1.5 1.8,-3.3 1.8,-5.3c0,-4.7 -3.8,-8.5 -8.5,-8.5c-4.7,0 -8.5,3.8 -8.5,8.5c0,4.7 3.8,8.5 8.5,8.5c2,0 3.8,-0.7 5.3,-1.8l5.3,5.3c0.1,0.1 0.3,0.1 0.4,0l1.1,-1.1c0,-0.1 0,-0.2 -0.1,-0.3zm-16.6,-5.9c-1.2,-1.2 -1.9,-2.9 -1.9,-4.7c0,-1.8 0.7,-3.4 1.9,-4.6c1.2,-1.2 2.8,-1.9 4.6,-1.9c1.8,0 3.4,0.7 4.6,1.9c1.2,1.2 1.9,2.8 1.9,4.6c0,1.8 -0.7,3.4 -1.9,4.6c-1.2,1.2 -2.8,1.9 -4.6,1.9c-1.8,0.1 -3.4,-0.7 -4.6,-1.8z" class="st0"/>
                            </g>
                            </svg>
                .map-site-content_list.page-o.hidden-xs
                    .map-site-content_list-item
                        ul
                            li
                                a(href='#') Академия
                            li
                                a(href='#') История
                            li
                                a(href='#') Научная деятельность
                            li
                                a(href='#') Инновационная площадка
                            li
                                a(href='#') Идеологическая и воспитательная работа
                            li
                                a(href='#') Общественная жизнь
                            li
                                a(href='#') Ректорат
                            li
                                a(href='#') Преподавательский состав
                            li
                                a(href='#') Структура
                            li
                                a(href='#') Достижения Академии

                    .map-site-content_list-item
                        ul
                            li
                                a(href='#') Поступающим
                            li
                                a(href='#') Абитуриенту
                            li
                                a(href='#') Магистранту
                            li
                                a(href='#') Слушателю
                            li
                                a(href='#') Аспиранту
                            li
                                a(href='#') Повышение квалификации
                    .map-site-content_list-item
                        ul
                            li
                                a(href='#') Обучающимся
                            li
                                a(href='#') Студенту
                            li
                                a(href='#') Магистранту
                            li
                                a(href='#') Слушателю
                            li
                                a(href='#') Аспиранту
                            li
                                a(href='#') Дистанционное образование
                    .map-site-content_list-item
                        ul
                            li
                                a(href='#') Услуги
                            li
                                a(href='#') Спортивный комплекс
                            li
                                a(href='#') Жилищный комплекс
                            li
                                a(href='#') Редакционно-издательский центр
                            li
                                a(href='#') Торговый комплекс
                    .map-site-content_list-item
                        ul
                            li.no-title
                                a(href='#') Кабинет абитуриента
                    .map-site-content_list-item
                        ul
                            li
                                a(href='#') Пресс-центр
                            li
                                a(href='#') Наши новости
                            li
                                a(href='#') СМИ об Академии управления
                    .map-site-content_list-item
                        ul
                            li
                                a(href='#') Контакты
                            li
                                a(href='#') Форма обратной связи


                .block-modile-menu
                    .wrapper-second-header_lang
                        #block-lang.block-dropdown_lang(tabindex="1") Ru
                            ul.dropdown
                                li
                                    a(href='#') En
                    .wrapper-accordion-mobile-menu
                        ul
                            li.js-drop-open-mobile
                                a(href='index1.html') Главная

                            li.js-drop-open-mobile
                                p Академия
                                    span.icon-arrow
                                        <svg width="6.8" height="12.1" xmlns="http://www.w3.org/2000/svg">
                                        <style type="text/css">.st0{fill:#0A3C90;}</style>
                                        <g>
                                        <g id="svg_1">
                                        <polygon id="svg_2" points="0,0.7 5.4,6.1 0,11.4 0.7,12.1 6.8,6.1 0.7,0 0,0.7  " class="st0"/>
                                        </g>
                                        </g>
                                        </svg>
                                .mobile-menu_dop
                                    a.mobile-menu_dop-link(href='history.html') История
                                    a.mobile-menu_dop-link(href='#') Научная деятельность
                                    a.mobile-menu_dop-link(href='#') Инновационная площадка
                                    a.mobile-menu_dop-link(href='#') Идеологическая и воспитательная работа
                                    a.mobile-menu_dop-link(href='#') Общественная жизнь
                                    a.mobile-menu_dop-link(href='rectorate.html') Ректорат
                                    a.mobile-menu_dop-link(href='#') Преподавательский состав
                                    a.mobile-menu_dop-link(href='#') Структура
                                    a.mobile-menu_dop-link(href='#') Достижения Академии
                            li.js-drop-open-mobile
                                p Поступающим
                                    span.icon-arrow
                                        <svg width="6.8" height="12.1" xmlns="http://www.w3.org/2000/svg">
                                        <style type="text/css">.st0{fill:#0A3C90;}</style>
                                        <g>
                                        <g id="svg_1">
                                        <polygon id="svg_2" points="0,0.7 5.4,6.1 0,11.4 0.7,12.1 6.8,6.1 0.7,0 0,0.7  " class="st0"/>
                                        </g>
                                        </g>
                                        </svg>
                                .mobile-menu_dop
                                    a(href='#').mobile-menu_dop-link Абитуриенту
                                    a(href='#').mobile-menu_dop-link Магистранту
                                    a(href='#').mobile-menu_dop-link Слушателю
                                    a(href='#').mobile-menu_dop-link Аспиранту
                                    a(href='#').mobile-menu_dop-link Повышение квалификации
                            li.js-drop-open-mobile
                                p Обучающимся
                                    span.icon-arrow
                                        <svg width="6.8" height="12.1" xmlns="http://www.w3.org/2000/svg">
                                        <style type="text/css">.st0{fill:#0A3C90;}</style>
                                        <g>
                                        <g id="svg_1">
                                        <polygon id="svg_2" points="0,0.7 5.4,6.1 0,11.4 0.7,12.1 6.8,6.1 0.7,0 0,0.7  " class="st0"/>
                                        </g>
                                        </g>
                                        </svg>
                                .mobile-menu_dop
                                    a(href='#').mobile-menu_dop-link Студенту
                                    a(href='#').mobile-menu_dop-link Магистранту
                                    a(href='#').mobile-menu_dop-link Слушателю
                                    a(href='#').mobile-menu_dop-link Аспиранту
                                    a(href='#').mobile-menu_dop-link Дистанционное образование
                            li.js-drop-open-mobile
                                p Услуги
                                    span.icon-arrow
                                        <svg width="6.8" height="12.1" xmlns="http://www.w3.org/2000/svg">
                                        <style type="text/css">.st0{fill:#0A3C90;}</style>
                                        <g>
                                        <g id="svg_1">
                                        <polygon id="svg_2" points="0,0.7 5.4,6.1 0,11.4 0.7,12.1 6.8,6.1 0.7,0 0,0.7  " class="st0"/>
                                        </g>
                                        </g>
                                        </svg>
                                .mobile-menu_dop
                                    a.mobile-menu_dop-link(href='#') Спортивный комплекся
                                    a.mobile-menu_dop-link(href='#') Жилищный комплекс
                                    a.mobile-menu_dop-link(href='#') Редакционно-издательский центр
                                    a.mobile-menu_dop-link(href='#') Торговый комплекс
                            li.js-drop-open-mobile
                                a(href="press-center.html") Пресс-центр
                            li.js-drop-open-mobile
                                a(href='contact.html') Контакты




