//.block-wrapper-sticky.hidden-sm
//    .wrapper-sticky-content
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-1.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Новость
//                .wrapper-sticky-content-news_txt Чрезвычайный и Полномочный Посол Турецкой Республики в Республике Беларусь госпожа Кезбан Нилвана Дарама посетила с визитом Академию управления
//                .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-2.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Мероприятие
//                .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
//                .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-3.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Мероприятие
//                .wrapper-sticky-content-news_txt Заседание Совета состоялось в Академии управления
//                .wrapper-sticky-content-news_date 27 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-4.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Мероприятие
//                .wrapper-sticky-content-news_txt Приглашаем стать студентом Академии управления на один день
//                .wrapper-sticky-content-news_date 18 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-5.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Новость
//                .wrapper-sticky-content-news_txt Приглашаем стать студентом Академии управления на один день
//                .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-6.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Мероприятие
//                .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
//                .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-1.png');")
//            img.bg-img(src='img/news/news-p-1.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Новость
//                .wrapper-sticky-content-news_txt Чрезвычайный и Полномочный Посол Турецкой Республики в Республике Беларусь госпожа Кезбан Нилвана Дарама посетила с визитом Академию управления
//                .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#")
//            img.bg-img(src='img/news/news-p-2.png')
//            .wrapper-sticky-content-news_text
//                .wrapper-sticky-content-news_section Мероприятие
//                .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
//                .wrapper-sticky-content-news_date 28 апреля 2017


//.block-wrapper-sticky-none.hidden-lg
//    .wrapper-sticky-content
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-1.png');")
//            .wrapper-sticky-content-news_section Новость
//            .wrapper-sticky-content-news_txt Чрезвычайный и Полномочный Посол Турецкой Республики в Республике Беларусь госпожа Кезбан Нилвана Дарама
//            .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-2.png');")
//            .wrapper-sticky-content-news_section Мероприятие
//            .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
//            .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-3.png');")
//            .wrapper-sticky-content-news_section Мероприятие
//            .wrapper-sticky-content-news_txt Заседание Совета состоялось в Академии управления
//            .wrapper-sticky-content-news_date 27 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-4.png');")
//            .wrapper-sticky-content-news_section Мероприятие
//            .wrapper-sticky-content-news_txt Приглашаем стать студентом Академии управления на один день
//            .wrapper-sticky-content-news_date 18 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-5.png');")
//            .wrapper-sticky-content-news_section Новость
//            .wrapper-sticky-content-news_txt Приглашаем стать студентом Академии управления на один день
//            .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-6.png');")
//            .wrapper-sticky-content-news_section Мероприятие
//            .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
//            .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-1.png');")
//            .wrapper-sticky-content-news_section Новость
//            .wrapper-sticky-content-news_txt Чрезвычайный и Полномочный Посол Турецкой Республики в Республике Беларусь госпожа Кезбан Нилвана Дарама
//            .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-2.png');")
//            .wrapper-sticky-content-news_section Мероприятие
//            .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
//            .wrapper-sticky-content-news_date 28 апреля 2017
//
//        a.wrapper-sticky-content-news(href="#" style="background-image: url('img/news/news-p-3.png');")
//            .wrapper-sticky-content-news_section Мероприятие
//            .wrapper-sticky-content-news_txt Заседание Совета состоялось в Академии управления
//            .wrapper-sticky-content-news_date 27 апреля 2017

.block-wrapper-sticky-mobile
    .block-wrapper-sticky-mobile_swiper
        .swiper-wrapper
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-1.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Новость
                        .wrapper-sticky-content-news_txt Чрезвычайный и Полномочный Посол Турецкой Республики в Республике Беларусь госпожа
                        .wrapper-sticky-content-news_date 28 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-2.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Мероприятие
                        .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
                        .wrapper-sticky-content-news_date 28 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-3.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Мероприятие
                        .wrapper-sticky-content-news_txt Заседание Совета состоялось в Академии управления
                        .wrapper-sticky-content-news_date 27 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-4.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Мероприятие
                        .wrapper-sticky-content-news_txt Приглашаем стать студентом Академии управления на один день
                        .wrapper-sticky-content-news_date 18 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-5.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Новость
                        .wrapper-sticky-content-news_txt Приглашаем стать студентом Академии управления на один день
                        .wrapper-sticky-content-news_date 28 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-6.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Мероприятие
                        .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
                        .wrapper-sticky-content-news_date 28 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-1.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Новость
                        .wrapper-sticky-content-news_txt Чрезвычайный и Полномочный Посол Турецкой Республики в Республике Беларусь госпожа
                        .wrapper-sticky-content-news_date 28 апреля 2017
            .swiper-slide
                a.swiper-slide-news(href="#" style="background-image: url('img/news/news-p-2.png');")
                    .wrapper-sticky-content-news_text
                        .wrapper-sticky-content-news_section Мероприятие
                        .wrapper-sticky-content-news_txt Обучающий семинар «Введение в методологию государственно-частного партнерства» состоялся в Институте государственной службы
                        .wrapper-sticky-content-news_date 28 апреля 2017
        .swiper-pagination




