#hidden-content-info-day.w-p(style='display: none;')
    .wrapper-popup.small-pad-p
        .wrapper-info-day
            .block-info-day
                .block-info-day_week Понедельник
                .block-info-day_number 7 августа

            .content-schedule
                .block-schedule
                    .block-schedule_time 8:30—9:50
                    .block-schedule_txt
                        .block-schedule_txt-title Производственные процессы и технологии
                        p доц. Карпинская Е.В. (лекц., прак., сем.), доц. Лаптёнок С.А. (сем.)
                        p Форма контроля: экзамен
                    .block-schedule_cab а.517

                .block-schedule
                    .block-schedule_time 10:05—11:50
                    .block-schedule_txt
                        .block-schedule_txt-title Государственное управление
                        p доц. Зеневич А.М. (лекц. лаб. 1гр. 1п/г, экзамен), ст.преп. Герцева А.В. (лаб. 1гр. 2п/г, 2гр. 2п/г), преп. Архипенко Ж.Н. (лаб. 2гр. 1п/г)
                        p Форма контроля: экзамен
                    .block-schedule_cab а.807

                .block-schedule
                    .block-schedule_time 11:55—13:15
                    .block-schedule_txt
                        .block-schedule_txt-title Философия
                        p Занятия проводятся согласно расписанию кафедры ИК ИУК
                        p Форма контроля: зачёт
                    .block-schedule_cab а.807

