#hidden-content-t-y-r.w-p(style='display: none;')
    .wrapper-popup
        .three-title-popup Благодарим вас!
        p Вы успешно зарегистрировались на сайте Академии управления при Презденте Республики Беларусь. Следуйте дальнейшим иснтрукциям высланым на указанный вами e-mail.
        .btn-close-c
            span Закрыть