#hidden-content-t-y-p.w-p(style='display: none;')
    .wrapper-popup
        .three-title-popup Благодарим вас!
        p На указанный вами e-mail высланы инструкции по восстановлению пароля.
        .btn-close-c
            span Закрыть