#hidden-content-t-y.w-p(style='display: none;')
    .wrapper-popup
        .three-title-popup Благодарим вас!
        p Форма обратной связи успешно отправлена. С вами свяжутся в ближайшее время!
        .btn-close-c
            span Закрыть