#hidden-content-r-p.w-p(style='display: none;')
    .wrapper-popup
        .three-title-popup восстановить пароль
        p Для получения инструкции по восстановления пароля введите e-mail, указанный при регистрации.
        form.js-form
            .wrapper-form
                .block-label-input
                    .block-label
                        label E-mail<span>*</span>
                    .block-input
                        input(type='email' data-validation="email required" data-validation-error-msg="Поле обязательно для заполнения")
                .block-btn-form
                    button.btn-form Отправит

    // Modal Window
    .wrapper-popup.response
        .three-title-popup Благодарим вас!
        p На указанный вами e-mail высланы инструкции по восстановлению пароля.
        .btn-close-c
            span Закрыть