#hidden-content-o.w-p(style='display: none;')
    .wrapper-popup
        .three-title-popup Выбор параметров
        form
            .wrapper-form
                .block-label-input
                    .block-label
                        label Факультет
                    .block-input
                        .wrapper-teaching-staff_select
                            .wrapper-teaching-staff_select-select
                                select.select2.select-popup(style="width: 100%")
                                    option(value='Факультет 1') Факультет 1
                                    option(value='Факультет 2') Факультет 2
                                    option(value='Факультет 3') Факультет 3
                                    option(value='Факультет 4') Факультет 4
                                    option(value='Факультет 5') Факультет 5
                                    option(value='Факультет 6') Факультет 6

                .block-label-input
                    .block-label
                        label Группа
                    .block-input
                        .wrapper-teaching-staff_select
                            .wrapper-teaching-staff_select-select
                                select.select2.select-popup(style="width: 100%")
                                    option(value='Группа 1') Группа 1
                                    option(value='Группа 2') Группа 2
                                    option(value='Группа 3') Группа 3
                                    option(value='Группа 4') Группа 4
                                    option(value='Группа 5') Группа 5
                                    option(value='Группа 6') Группа 6

                .block-label-input
                    .block-label
                        label Курс
                    .block-input
                        .wrapper-teaching-staff_select
                            .wrapper-teaching-staff_select-select
                                select.select2.select-popup(style="width: 100%")
                                    option(value='Курс 1') Курс 1
                                    option(value='Курс 2') Курс 2
                                    option(value='Курс 3') Курс 3
                                    option(value='Курс 4') Курс 4
                                    option(value='Курс 5') Курс 5

                .block-btn-form
                    button.btn-form Применить