.wrapper-map-site.hidden.js-search-site
    .wrapper-map-site-content
        .map-site-content
            .wrapp_close.js-search-close
                <svg xmlns="http://www.w3.org/2000/svg">
                <style type="text/css">.st0{fill:#ffffff;}</style>
                <g>
                <path id="svg_1" d="m11.5,10.1l8.6,-8.6c0.1,-0.1 0.1,-0.3 0,-0.4l-1.1,-1c-0.1,-0.1 -0.3,-0.1 -0.4,0l-8.6,8.6l-8.5,-8.6c-0.1,-0.1 -0.3,-0.1 -0.4,0l-1,1c-0.1,0.1 -0.1,0.3 0,0.4l8.6,8.6l-8.6,8.6c-0.1,0.1 -0.1,0.2 0,0.3l1.1,1.1c0.1,0.1 0.3,0.1 0.4,0l8.6,-8.6l8.6,8.6c0.1,0.1 0.3,0.1 0.4,0l1.1,-1.1c0.1,-0.1 0.1,-0.3 0,-0.4l-8.8,-8.5z" class="st0"/>
                </g>
                </svg>s
            .map-site-content_content    
                .map-site-content_logo.hidden-xs
                    img(src='img/logo.png' alt='')
                .map-site-content_search
                    .block-search-input    
                        form.js-form
                            input.input(type='text' placeholder='Поиск по сайту академии')
                            button.btn-search
                                <svg width="20.6" height="20.6" xmlns="http://www.w3.org/2000/svg">
                                <style type="text/css">.st0{fill:#000000;}</style>
                                <g>
                                <path id="svg_1" d="m20.5,19.1l-5.3,-5.3c1.1,-1.5 1.8,-3.3 1.8,-5.3c0,-4.7 -3.8,-8.5 -8.5,-8.5c-4.7,0 -8.5,3.8 -8.5,8.5c0,4.7 3.8,8.5 8.5,8.5c2,0 3.8,-0.7 5.3,-1.8l5.3,5.3c0.1,0.1 0.3,0.1 0.4,0l1.1,-1.1c0,-0.1 0,-0.2 -0.1,-0.3zm-16.6,-5.9c-1.2,-1.2 -1.9,-2.9 -1.9,-4.7c0,-1.8 0.7,-3.4 1.9,-4.6c1.2,-1.2 2.8,-1.9 4.6,-1.9c1.8,0 3.4,0.7 4.6,1.9c1.2,1.2 1.9,2.8 1.9,4.6c0,1.8 -0.7,3.4 -1.9,4.6c-1.2,1.2 -2.8,1.9 -4.6,1.9c-1.8,0.1 -3.4,-0.7 -4.6,-1.8z" class="st0"/>
                                </g>
                                </svg>

                            .map-site-search-filter
                                .map-site-search-filter_radio     
                                    input(type='radio' name='search' id ='radio-1' checked="checked")
                                    label(for='radio-1') Поиск по сайту
                                    input(type='radio' name='search' id ='radio-2')
                                    label(for ='radio-2') Поиск по пресс-центру  

                            .map-site-search-inquiries
                                ul
                                    li
                                        a(href='#') Приемная кампания 2017
                                    li
                                        a(href='#') Второе высшее образование
                                    li
                                        a(href='#') Стоимость обучения
                                    li
                                        a(href='#') Централизованное тестирование
                                    li
                                        a(href='#') Общежитие
                                    li
                                        a(href='#') Проходной балл
                                    li
                                        a(href='#') Преподавательский состав
                                    li
                                        a(href='#') Правила приёма
                                    li
                                        a(href='#') Список поступивших студентов                                
