.block-swiper-container-header
    .swiper-wrapper
        .swiper-slide
            .wrapper-swiper
                h1.title Мы даём знания для эффективного управления

                a(href="https://www.youtube.com/watch?v=_gnJF7s5JLk" data-fancybox).btn-play.hidden-xs
                    <svg xmlns="http://www.w3.org/2000/svg">
                    <style type="text/css">.st0{fill:#ffffff;}</style>
                    <g>
                    <g id="svg_1">
                    <g id="svg_2">
                    <path id="svg_3" d="m77.5,39l-0.5,0c0,10.5 -4.3,20 -11.1,26.9c-6.9,6.8 -16.4,11.1 -26.9,11.1c-10.5,0 -20,-4.3 -26.9,-11.1c-6.8,-6.9 -11.1,-16.4 -11.1,-26.9c0,-10.5 4.3,-20 11.1,-26.9c6.9,-6.8 16.4,-11.1 26.9,-11.1c10.5,0 20,4.3 26.9,11.1c6.8,6.9 11.1,16.4 11.1,26.9l0.5,0l0.5,0c0,-21.5 -17.5,-39 -39,-39c-21.5,0 -39,17.5 -39,39c0,21.5 17.5,39 39,39c21.5,0 39,-17.5 39,-39l-0.5,0z" class="st0"/>
                    </g>
                    <path id="svg_4" d="m32,50.5l0,-23c0,-0.2 0.2,-0.3 0.4,-0.2l20.2,11.5c0.2,0.1 0.2,0.3 0,0.4l-20.3,11.5c-0.1,0.1 -0.3,0 -0.3,-0.2z" class="st0"/>
                    </g>
                    </g>
                    </svg>
        .swiper-slide
            .wrapper-swiper
                h1.title Мы даём знания для эффективного управления2
        .swiper-slide
            .wrapper-swiper
                h1.title Мы даём знания для эффективного управления3
.swiper-pagination.index-pag