.block-wrapper-tab.hidden-xs.revealator-zoomin.revealator-once
    ul.tabs
        li.tab-link.current Все
        li.tab-link Анонсы
        li.tab-link Новости
        li.tab-link Календарь научных мероприятий
        li.tab-link Конференции
    .tab-content.current
        .wrapper-tab-content
            a.wrapper-tab-content-block(href='#')
                .wrapper-tab-content-block-p
                    .wrapper-tab-content-block_img
                        img(src='img/news/news-s-1.png' alt='')
                    .wrapper-tab-content-block_text
                        .wrapper-tab-content-block_text-title Представители Академии управления примут участие в финале международной олимпиады в сфере информационных технологий «IT-Планета 2016/17»
                        .wrapper-tab-content-block_text-data 18 апреля 2017

            a.wrapper-tab-content-block(href='#')
                .wrapper-tab-content-block-p
                    .wrapper-tab-content-block_img
                        img(src='img/news/news-s-2.png' alt='')
                    .wrapper-tab-content-block_text
                        .wrapper-tab-content-block_text-title Приглашаем стать студентом Академии управления на один день
                        .wrapper-tab-content-block_text-data 18 апреля 2017

            a.wrapper-tab-content-block(href='#')
                .wrapper-tab-content-block-p
                    .wrapper-tab-content-block_img
                        img(src='img/news/news-s-3.png' alt='')
                    .wrapper-tab-content-block_text
                        .wrapper-tab-content-block_text-title Круглый стол на тему «Совершенствование работы по формированию резерва кадров»
                        .wrapper-tab-content-block_text-data 18 апреля 2017

            a.wrapper-tab-content-block(href='#')
                .wrapper-tab-content-block-p
                    .wrapper-tab-content-block_img
                        img(src='img/news/news-s-2.png' alt='')
                    .wrapper-tab-content-block_text
                        .wrapper-tab-content-block_text-title Академия управления на «ТИБО-2017»
                        .wrapper-tab-content-block_text-data 18 апреля 2017
        .block-swiper-container-header-news.revealator-zoomin.revealator-once
            .block-line-top
            .swiper-wrapper-news
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt В Академии управления прошла онлайн-трансляция ежегодного Послания Главы государства к народу и Национальному собранию
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt Республиканский конкурс профессионального мастерства «Белорусский мастер - 2017» по профессии «Спасатель» состоялся в столице
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt Развитие науки – фундамент для развития государства. В Президентской Академии состоялась XIII Международная научно-практическая конференция
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt Академия управления – залог успешного будущего
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt В Академии управления прошла онлайн-трансляция ежегодного Послания Главы государства к народу и Национальному собранию
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt Республиканский конкурс профессионального мастерства «Белорусский мастер - 2017» по профессии «Спасатель» состоялся в столице
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt Развитие науки – фундамент для развития государства. В Президентской Академии состоялась XIII Международная научно-практическая конференция
                div
                    .swiper-slide
                        a.wrapper-swiper(href='#')
                            .swiper-container-header-news_data 18.04.2017
                            .swiper-container-header-news_txt Академия управления – залог успешного будущего
            .block-link-header-news
                a(href='#') Все новости и события
.block-mobile-news
    a.wrapper-tab-content-block(href='#')
        .wrapper-tab-content-block-p
            .wrapper-tab-content-block_img
                img(src='img/news/news-s-1.png' alt='')
            .wrapper-tab-content-block_text
                .wrapper-tab-content-block_text-title Представители Академии управления примут участие в финале международной
                .wrapper-tab-content-block_text-data 18 апреля 2017

    a.wrapper-tab-content-block(href='#')
        .wrapper-tab-content-block-p
            .wrapper-tab-content-block_img
                img(src='img/news/news-s-2.png' alt='')
            .wrapper-tab-content-block_text
                .wrapper-tab-content-block_text-title Приглашаем стать студентом Академии управления на один день
                .wrapper-tab-content-block_text-data 18 апреля 2017

    a.wrapper-tab-content-block(href='#')
        .wrapper-tab-content-block-p
            .wrapper-tab-content-block_img
                img(src='img/news/news-s-3.png' alt='')
            .wrapper-tab-content-block_text
                .wrapper-tab-content-block_text-title Круглый стол на тему «Совершенствование работы по
                .wrapper-tab-content-block_text-data 18 апреля 2017

    a.wrapper-tab-content-block(href='#')
        .wrapper-tab-content-block-p
            .wrapper-tab-content-block_img
                img(src='img/news/news-s-2.png' alt='')
            .wrapper-tab-content-block_text
                .wrapper-tab-content-block_text-title Академия управления на «ТИБО-2017»
                .wrapper-tab-content-block_text-data 18 апреля 2017
    a.wrapper-tab-content-block_news Все новости и события