
<div class="cont-index" style="width: 1000px; margin: 0 auto;">
  <h2>Список страниц</h2>
  <ul>
    <li><a href="index1.html">Главная</a></li>
    <li><a href="search.html">Страницы поиска</a></li>
    <li><a href="search-no.html">Ничего не найдено</a></li>
    <li><a href="404.html">404</a></li>
    <li><a href="contact.html">Контакты</a></li>
    <li><a href="press-center.html">Пресс-центр</a></li>
    <li><a href="press-center-inner.html">Пресс-центр новость</a></li>
    <li><a href="rectorate.html">Ректорат</a></li>
    <li><a href="rectorate-inner.html">Ректорат описание</a></li>
    <li><a href="personal-area.html">Личный кабинет</a></li>
    <li><a href="personal-area-pass.html">Личный кабинет - Смена пароля</a></li>
    <li><a href="services.html">Услуги</a></li>
    <li><a href="services-inner.html">Услуги - Внутренняя</a></li>
    <li><a href="questions.html">Вопрос</a></li>
    <li><a href="incoming.html">Поступающим</a></li>
    <li><a href="entrant.html">Абитуриенту</a></li>
    <li><a href="about.html">Академия</a></li>
    <li><a href="regulations.html">Нормативные документы</a></li>
    <li><a href="specialties.html">Специальности и программы обучения</a></li>
    <li><a href="teaching-staff.html">Преподавательский состав</a></li>
    <li><a href="history.html">История</a></li>
    <li><a href="timetable-classes.html">Расписание занятий</a></li>
    <li><a href="txt.html">Текстовая</a></li>
    <li><a href="table.html">Таблица</a></li>
    <li><a href="priomnaya-compania.html">Приёмная кампания</a></li>
    <li><a href="priomnaya-compania-paid.html">Приёмная кампания(Платная основа)</a></li>
    <li><a href="priomnaya-compania-distance.html">Приёмная кампания(Платная основа)</a></li>
  </ul>
</div>