block content
    .cont-index(style='width: 1000px; margin: 0 auto;')
        h2 Список страниц
        ul
            li
                a(href='index1.html') Главная
            li
                a(href='search.html') Страницы поиска
            li
                a(href='search-no.html') Ничего не найдено
            li
                a(href='404.html') 404
            li
                a(href='contact.html') Контакты
            li
                a(href='press-center.html') Пресс-центр
            li
                a(href='press-center-inner.html') Пресс-центр новость
            li
                a(href='rectorate.html') Ректорат
            li
                a(href='rectorate-inner.html') Ректорат описание
            li
                a(href='personal-area.html') Личный кабинет
            li
                a(href='personal-area-pass.html') Личный кабинет - Смена пароля
            li
                a(href='services.html') Услуги
            li
                a(href='services-inner.html') Услуги - Внутренняя
            li
                a(href='questions.html') Вопрос
            li
                a(href='incoming.html') Поступающим
            li
                a(href='entrant.html') Абитуриенту
            li
                a(href='about.html') Академия
            li
                a(href='regulations.html') Нормативные документы
            li
                a(href='specialties.html') Специальности и программы обучения
            li
                a(href='teaching-staff.html') Преподавательский состав
            li
                a(href='history.html') История
            li
                a(href='timetable-classes.html') Расписание занятий
            li
                a(href='txt.html') Текстовая
            li
                a(href='table.html') Таблица
            li
                a(href='priomnaya-compania.html') Приёмная кампания
            li
                a(href='priomnaya-compania-paid.html') Приёмная кампания(Платная основа)
            li
                a(href='priomnaya-compania-distance.html') Приёмная кампания(Платная основа)
            li
                a(href='structure.html') Структура Академии